
## Compile errors Jeabit kernel
# CONFIG_LTO_GCC is not set
# CONFIG_LTO is not set
#CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
#CONFIG_ARCH_SUPPORTS_THINLTO=y
CONFIG_LTO_NONE=y
# CONFIG_LTO_CLANG is not set
# CONFIG_THINLTO is not set
# CONFIG_HID_WALTOP is not set
# CONFIG_GCC_GRAPHITE is not set

#CONFIG_FTRACE_MCOUNT_RECORD=y
#CONFIG_INIT_STACK_ALL_PATTERN is not set
#CONFIG_INIT_STACK_ALL_ZERO is not set

#CONFIG_CGROUP_SCHEDTUNE is not set
# CONFIG_SCHED_TUNE is not set
# CONFIG_DM_BOW is not set

## Required by compiler
#CONFIG_MSM_CSPL=y


#CONFIG_PRINT_VMEMLAYOUT is not set
#CONFIG_ZRAM_MEMORY_TRACKING is not set
#CONFIG_OVERRIDE_MEMORY_LIMIT is not set
#CONFIG_DEBUG_KMEMLEAK is not set
#CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZEis not set
#CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF is not set
#CONFIG_DEBUG_MEMORY_INIT is not set
#CONFIG_MEMTEST is not set
#CONFIG_MEMTEST_ENABLE_DEFAULT is not set
#CONFIG_FRAME_WARN=4096
#CONFIG_MODULE_SIG is not set
